In [1]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [2]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [3]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [4]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [5]:
# Print the string

print("hello!")

hello!

In [6]:
# Assign string to variable

Name = "Michael Jackson"
Name

'Michael Jackson'

In [7]:
# Print the first element in the string

print(Name[0])

M

In [8]:
# Print the element on index 6 in the string

print(Name[6])

l

In [9]:
# Print the last element in the string

print(Name[-1])

n

In [10]:
# Print the first element in the string

print(Name[-15])

M

In [11]:
# Take the slice on variable Name with only index 0 to index 3

Name[0:4]

'Mich'

In [12]:
# Take the slice on variable Name with only index 8 to index 11

Name[8:12]

'Jack'

In [13]:
# Get every second element. The elments on index 1, 3, 5 ...

Name[::2]

'McalJcsn'

In [14]:
# Get every second element in the range from index 0 to index 4

Name[0:5:2]

'Mca'

In [15]:
# Concatenate two strings

Statement = Name + "is the best"
Statement

'Michael Jacksonis the best'

In [16]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [17]:
# Concatenate strings

Name = "Michael Jackson"
Name = Name + " is the best"
Name

'Michael Jackson is the best'

In [18]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [19]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [20]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [21]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [22]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [23]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [24]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Michael Jackson"
Name.find('el')

5

In [25]:
# Find the substring in the string.

Name.find('Jack')

8

In [26]:
# If cannot find the substring in the string

Name.find('Jasdfasdasdf')

-1

In [32]:
# What is the value of the variable A after the following code is executed?
A = "1"
A

'1'

In [33]:
# What is the value of the variable B after the following code is executed?
B = "2"
B

'2'

In [34]:
# What is the value of the variable C after the following code is executed?
C = A + B
C

'12'

In [36]:
# Consider the variable D use slicing to print out the first three elements:
D = "ABCDEFG"
D[:3]

'ABC'

In [39]:
# Use a stride value of 2 to print out every second character of the string E:
E = 'clocrkr1e1c1t'
E[::2]

'correct'

In [41]:
# Print out a backslash:
print("\\")

\

In [42]:
# Convert the variable F to uppercase:
F = "You are wrong"
print(F.upper())

YOU ARE WRONG

In [44]:
# Consider the variable G, and find the first index of the sub-string snow:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
print(G.find('snow'))

95

In [46]:
# In the variable G, replace the sub-string Mary with Bob:
G.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'